{% extends 'flatpages/default.html' %} 
 

{% block title %}
Posts
{% endblock title %}
 

{% block content %}
{% if posts %}
<table>
    <tr>
        <td>Заголовок</td>
        <td>Дата публикации</td>
        <td>Содержание</td>
        <td>Категория</td>
    </tr>
    <tr>
        <td>{{ posts.name_post }}</td>
        <td>{{ posts.date_post }}</td>
        <td>{{ posts.text_post }}</td>
        {% for cat in posts.postCategory.all %}
        <td>{{ cat.name_category }}</td>
        {% endfor %}
    </tr>
</table>
{% else %}
<h3>Публикаций нет</h3>
{% endif %}
{% endblock content %}